<div class="container-fluid">
    <legend>
        编辑事件
    </legend>
    <form name="testActionForm">
        <div class="row-fluid">
            <div class="span2" align="right">
                <label for="planName" class="label-center">测试计划:</label>
            </div>
            <div class="span4">
                <input id="planName" name="planName" data-ng-model="testAction.planName" type="text" class="form-control">
            </div>
            <div class="span2" align="right">
                <label for="sellerNick" class="label-center">卖家昵称:</label>
            </div>
            <div class="span4">
                <input id="sellerNick" name="sellerNick" data-ng-model="testAction.seller_nick" type="text" class="form-control">
            </div>
        </div>
        </br>
        <div class="row-fluid">
            <div class="span2" align="right">
                <label for="buyerNick" class="label-center">买家昵称:</label>
            </div>
            <div class="span4">
                <input id="buyerNick" name="buyerNick" data-ng-model="testAction.buyerNick" type="text" class="form-control">
            </div>
            <div class="span2" align="right">
                <label for="action" class="label-center">事件:</label>
            </div>
            <div class="span4">
                <select id="action" data-ng-model="testAction.action">
                    <option value="TRADE_CREATED">订单创建</option>
                    <option value="TRADE_PAID">订单付款</option>
                    <option value="TRADE_CONSIGNED">订单发货</option>
                    <option value="TRADE_FINISHED">订单确认</option>
                    <option value="TRADE_CLOSED">付款以后用户退款成功，交易自动关闭</option>
                    <option value="TRADE_CLOSED_BY_TAOBAO">付款以前，卖家或买家主动关闭交易</option>
                    <option value="REFUND_CREATED">买家申请退款</option>
                    <option value="REFUND_AGREED">卖家同意退款</option>
                    <option value="REFUND_CONSIGNED">买家已退货</option>
                    <option value="REFUND_REFUSED">卖家拒绝退款</option>
                    <option value="REFUND_CLOSED">退款关闭</option>
                    <option value="REFUND_SUCCEED">退款成功</option>
                    <option value="SHIPPING_ARRIVAL_LOCAL">快递到达本地</option>
                    <option value="SHIPPING_CONFIRM">快递签收</option>
                </select>
            </div>
        </div>
        </br>
        <div class="row-fluid">
            <div class="span2" align="right">
                <label for="createTime" class="label-center">下单时间:</label>
            </div>
            <div class="span4">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                        <div class="input-group">
                            <input type="text" class="form-control" data-ng-model="testAction.createTime">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="data.dateDropDownInput" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                    </ul>
                </div>
                <input id="createTime" name="createTime" data-ng-model="testAction.createTime" type="text" class="form-control">
            </div>
            <div class="span2" align="right">
                <label for="payTime" class="label-center">付款时间:</label>
            </div>
            <div class="span4">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                        <div class="input-group">
                            <input type="text" class="form-control" data-ng-model="testAction.payTime">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="data.dateDropDownInput" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                    </ul>
                </div>
                <input id="payTime" name="payTime" data-ng-model="testAction.payTime" type="text" class="form-control">
            </div>
        </div>
        </br>
        <div class="row-fluid">
            <div class="span2" align="right">
                <label for="consignTime" class="label-center">发货时间:</label>
            </div>
            <div class="span4">
                <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                        <div class="input-group">
                            <input type="text" class="form-control" data-ng-model="testAction.consignTime">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="data.dateDropDownInput" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                    </ul>
                </div>
                <input id="consignTime" name="consignTime" data-ng-model="testAction.consignTime" type="text" class="form-control">
            </div>
            <div class="span2" align="right">
                <label for="finishTime" class="label-center">结束时间:</label>
            </div>
            <div class="span4">
                <input id="finishTime" name="finishTime" data-ng-model="testAction.finishTime" type="text" class="form-control">
            </div>
        </div>
        </br>
        <div class="row-fluid">
            <div class="span2" align="right">
                <label for="numIId" class="label-center">num_iid:</label>
            </div>
            <div class="span3">
                <input id="numIId" name="numIId" data-ng-model="testAction.order.numIId" type="text" class="form-control">
            </div>
            <div class="span1" align="right">
                <label for="num" class="label-center">总量:</label>
            </div>
            <div class="span2">
                <input style="width: 140px" id="num" name="num" data-ng-model="testAction.order.num" type="text" class="form-control">
            </div>
            <div class="span1" align="right">
                <label for="payment" class="label-center">总价:</label>
            </div>
            <div class="span2">
                <input style="width: 140px" id="payment" name="payment" data-ng-model="testAction.order.payment" type="text" class="form-control">
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2" align="right">
                <label for="numIId1" class="label-center">num_iid:</label>
            </div>
            <div class="span3">
                <input id="numIId1" name="numIId1" data-ng-model="testAction.order1.numIId" type="text" class="form-control">
            </div>
            <div class="span1" align="right">
                <label for="num1" class="label-center">总量:</label>
            </div>
            <div class="span2">
                <input style="width: 140px" id="num1" name="num1" data-ng-model="testAction.order1.num" type="text" class="form-control">
            </div>
            <div class="span1" align="right">
                <label for="payment1" class="label-center">总价:</label>
            </div>
            <div class="span2">
                <input style="width: 140px" id="payment1" name="payment1" data-ng-model="testAction.order1.payment" type="text" class="form-control">
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2" align="right">
                <label for="numIId2" class="label-center">num_iid:</label>
            </div>
            <div class="span3">
                <input id="numIId2" name="numIId2" data-ng-model="testAction.order2.numIId" type="text" class="form-control">
            </div>
            <div class="span1" align="right">
                <label for="num2" class="label-center">总量:</label>
            </div>
            <div class="span2">
                <input style="width: 140px" id="num2" name="num2" data-ng-model="testAction.order2.num" type="text" class="form-control">
            </div>
            <div class="span1" align="right">
                <label for="payment2" class="label-center">总价:</label>
            </div>
            <div class="span2">
                <input style="width: 140px" id="payment2" name="payment2" data-ng-model="testAction.order2.payment" type="text" class="form-control">
            </div>
        </div>

        <div class="row-fluid">
            <div class="span2" align="right">
                <label for="sku_iid" class="label-center">sku_iid:</label>
            </div>
            <div class="span3">
                <input id="sku_iid" name="sku_iid" data-ng-model="testAction.sorder.sku_iid" type="text" class="form-control">
            </div>
            <div class="span1" align="right">
                <label for="snum" class="label-center">总量:</label>
            </div>
            <div class="span2">
                <input style="width: 140px" id="snum" name="snum" data-ng-model="testAction.sorder.num" type="text" class="form-control">
            </div>
            <div class="span1" align="right">
                <label for="spayment" class="label-center">总价:</label>
            </div>
            <div class="span2">
                <input style="width: 140px" id="spayment" name="spayment" data-ng-model="testAction.sorder.payment" type="text" class="form-control">
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2" align="right">
                <label for="sku_iid1" class="label-center">sku_iid:</label>
            </div>
            <div class="span3">
                <input id="sku_iid1" name="sku_iid1" data-ng-model="testAction.sorder1.sku_iid" type="text" class="form-control">
            </div>
            <div class="span1" align="right">
                <label for="snum1" class="label-center">总量:</label>
            </div>
            <div class="span2">
                <input style="width: 140px" id="snum1" name="snum1" data-ng-model="testAction.sorder1.num" type="text" class="form-control">
            </div>
            <div class="span1" align="right">
                <label for="spayment1" class="label-center">总价:</label>
            </div>
            <div class="span2">
                <input style="width: 140px" id="spayment1" name="spayment1" data-ng-model="testAction.sorder1.payment" type="text" class="form-control">
            </div>
        </div>
        <div class="row-fluid">
            <div class="span2" align="right">
                <label for="sku_iid2" class="label-center">sku_iid:</label>
            </div>
            <div class="span3">
                <input id="sku_iid2" name="sku_iid" data-ng-model="testAction.sorder2.sku_iid" type="text" class="form-control">
            </div>
            <div class="span1" align="right">
                <label for="snum2" class="label-center">总量:</label>
            </div>
            <div class="span2">
                <input style="width: 140px" id="snum2" name="snum2" data-ng-model="testAction.sorder2.num" type="text" class="form-control">
            </div>
            <div class="span1" align="right">
                <label for="spayment2" class="label-center">总价:</label>
            </div>
            <div class="span2">
                <input style="width: 140px" id="spayment2" name="spayment2" data-ng-model="testAction.sorder2.payment" type="text" class="form-control">
            </div>
        </div>
        <!--</br>-->
        <!--<div class="row-fluid">-->
            <!--<div class="span2" align="right">-->
                <!--<label for="skuIId" class="label-center">sku_iid:</label>-->
            <!--</div>-->
            <!--<div class="span4">-->
                <!--<input id="skuIId" name="skuIId" data-ng-model="testAction.skuIId" type="text" class="form-control">-->
            <!--</div>-->
            <!--<div class="span2" align="right">-->
                <!--<label for="nums" class="label-center">总量:</label>-->
            <!--</div>-->
            <!--<div class="span4">-->
                <!--<input id="nums" name="nums" data-ng-model="testAction.num" type="text" class="form-control">-->
            <!--</div>-->
            <!--<div class="span2" align="right">-->
                <!--<label for="payments" class="label-center">总价:</label>-->
            <!--</div>-->
            <!--<div class="span4">-->
                <!--<input id="payments" name="payments" data-ng-model="testAction.payment" type="text" class="form-control">-->
            <!--</div>-->
        <!--</div>-->
    </form>

    <div class="panel-body" align="center">
        <p>
            <button type="submit" class="btn btn-primary" data-ng-click="editTestAction()">保存</button>
            <button type="button" class="btn btn-default" data-ng-click="close()">关闭</button>
        </p>
    </div>
</div>

