<div class="container-fluid">
    <legend>
        编辑事件
    </legend>
    <form name="testActionForm">
        <div class="row-fluid">
            <div class="span2" align="right">
                <label for="planName" class="label-center">测试计划:</label>
            </div>
            <div class="span4">
                <input id="planName" name="planName" data-ng-model="testAction.planName" type="text" class="form-control">
            </div>
            <div class="span2" align="right">
                <label for="sellerNick" class="label-center">卖家昵称:</label>
            </div>
            <div class="span4">
                <input id="sellerNick" name="sellerNick" data-ng-model="testAction.seller_nick" type="text" class="form-control">
            </div>
        </div>
        <br/>
        <div class="row-fluid">
            <div class="span2" align="right">
                <label for="buyerNick" class="label-center">买家昵称:</label>
            </div>
            <div class="span4">
                <input id="buyerNick" name="buyerNick" data-ng-model="testAction.buyerNick" type="text" class="form-control">
            </div>
            <div class="span2" align="right">
                <label for="action" class="label-center">事件:</label>
            </div>
            <div class="span4">
                <select id="action" data-ng-model="testAction.action">
                    <option value="CREATE">订单创建</option>
                    <option value="PAY">订单付款</option>
                    <option value="CONSIGN">订单发货</option>
                    <option value="FINISH">订单确认</option>
                </select>
            </div>
        </div>
        <br/>
        <div class="row-fluid">
            <div class="span2" align="right">
                <label class="label-center">下单时间:</label>
            </div>
            <div class="span4">
                <div class="dropdown">
                    <a class="dropdown-toggle my-toggle-select" role="button" data-target="#" href="">
                        <div class="text"><input type="text" class="input-large" data-ng-model="testAction.create_time">
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="testAction.create_time" />
                    </ul>
                </div>
            </div>
            <div class="span2" align="right">
                <label class="label-center">付款时间:</label>
            </div>
            <div class="span4">
                <div class="dropdown">
                    <a class="dropdown-toggle my-toggle-select" role="button" data-target="#" href="">
                        <div class="text"><input type="text" class="input-large" data-ng-model="testAction.pay_time">
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="testAction.pay_time" />
                    </ul>
                </div>
            </div>
        </div>
        <br/>
        <div class="row-fluid">
            <div class="span2" align="right">
                <label class="label-center">发货时间:</label>
            </div>
            <div class="span4">
                <div class="dropdown">
                    <a class="dropdown-toggle my-toggle-select" role="button" data-target="#" href="">
                        <div class="text"><input type="text" class="input-large" data-ng-model="testAction.consign_time">
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="testAction.consign_time" />
                    </ul>
                </div>
            </div>
            <div class="span2" align="right">
                <label class="label-center">结束时间:</label>
            </div>
            <div class="span4">
                <div class="dropdown">
                    <a class="dropdown-toggle my-toggle-select" role="button" data-target="#" href="">
                        <div class="text"><input type="text" class="input-large" data-ng-model="testAction.end_time">
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="testAction.end_time" />
                    </ul>
                </div>
            </div>
        </div>
        <br/>

        <div data-ng-repeat="order in testAction.orders">
            <div class="row-fluid">
                <div class="span2" align="right">
                    <label for="numIId" class="label-center">商品Id:</label>
                </div>
                <div class="span3">
                    <input id="numIId" name="numIId" data-ng-model="order.numIId" type="text" class="form-control">
                </div>
                <div class="span1" align="right">
                    <label for="num" class="label-center">数量:</label>
                </div>
                <div class="span2">
                    <input style="width: 140px" id="num" name="num" data-ng-model="order.num" type="text" class="form-control">
                </div>
                <div class="span1" align="right">
                    <label for="payment" class="label-center">总价:</label>
                </div>
                <div class="span2">
                    <input style="width: 140px" id="payment" name="payment" data-ng-model="order.payment" type="text" class="form-control">
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-default" data-ng-click="addOrder()">新增订单</button>
        <button type="button" class="btn btn-default" data-ng-click="removeOrder()">删除订单</button>
    </form>

    <div class="panel-body" align="center">
        <p>
            <button type="submit" class="btn btn-primary" data-ng-click="editTestAction()">保存</button>
            <button type="button" class="btn btn-default" data-ng-click="close()">关闭</button>
        </p>
    </div>
</div>

