<div class="container-fluid">
    <legend>
        编辑事件
    </legend>
    <form name="testActionForm">
        <div class="row-fluid">
            <div class="span2" align="right">
                <label for="planName" class="label-center">测试计划:</label>
            </div>
            <div class="span4">
                <input id="planName" name="planName" data-ng-model="testPlan.name" type="text" class="form-control">
            </div>
            <div class="span2" align="right">
                <label for="status" class="label-center">是否开启:</label>
            </div>
            <div class="span4">
                <select id="status" data-ng-model="testPlan.status" class="form-control" style="width: 206">
                    <option value="true">开启</option>
                    <option value="false">关闭</option>
                </select>
            </div>
        </div>
        <br/>
        <!--
        <div class="row-fluid">
            <div class="span2" align="right">
                <label for="sellerNick" class="label-center">卖家昵称:</label>
            </div>
            <div class="span4">
                <input id="sellerNick" name="sellerNick" data-ng-model="testAction.seller_nick" type="text" class="form-control">
            </div>
            <div class="span2" align="right">
                <label for="buyerNick" class="label-center">买家昵称:</label>
            </div>
            <div class="span4">
                <input id="buyerNick" name="buyerNick" data-ng-model="testAction.buyerNick" type="text" class="form-control">
            </div>
        </div>
        <br/>
        <div class="row-fluid">
            <div class="span2" align="right">
                <label class="label-center">下单延迟:</label>
            </div>
            <div class="span4">
                <input data-ng-model="testAction.createDelay" type="text" class="form-control" style="width: 135px">
                <select data-ng-model="testAction.createDelayUnit" style="width: 67px">
                    <option value="s">秒</option>
                    <option value="m">分</option>
                    <option value="h">小时</option>
                    <option value="d">天</option>
                </select>
            </div>
            <div class="span2" align="right">
                <label class="label-center">付款延迟:</label>
            </div>
            <div class="span4">
                <input data-ng-model="testAction.payDelay" type="text" class="form-control" style="width: 135px">
                <select data-ng-model="testAction.payDelayUnit" style="width: 67px">
                    <option value="s">秒</option>
                    <option value="m">分</option>
                    <option value="h">小时</option>
                    <option value="d">天</option>
                </select>
            </div>
        </div>
        <br/>
        <div class="row-fluid">
            <div class="span2" align="right">
                <label class="label-center">发货延迟:</label>
            </div>
            <div class="span4">
                <input data-ng-model="testAction.consignDelay" type="text" class="form-control" style="width: 135px">
                <select data-ng-model="testAction.consignDelayUnit" style="width: 67px">
                    <option value="s">秒</option>
                    <option value="m">分</option>
                    <option value="h">小时</option>
                    <option value="d">天</option>
                </select>
            </div>
            <div class="span2" align="right">
                <label class="label-center">结束延迟:</label>
            </div>
            <div class="span4">
                <input data-ng-model="testAction.endDelay" type="text" class="form-control" style="width: 135px">
                <select data-ng-model="testAction.endDelayUnit" style="width: 67px">
                    <option value="s">秒</option>
                    <option value="m">分</option>
                    <option value="h">小时</option>
                    <option value="d">天</option>
                </select>
            </div>
        </div>
        <br/>

        <div data-ng-repeat="order in testAction.orders">
            <div class="row-fluid">
                <div class="span2" align="right">
                    <label for="numIId" class="label-center">商品Id:</label>
                </div>
                <div class="span3">
                    <input id="numIId" name="numIId" data-ng-model="order.numIId" type="text" class="form-control">
                </div>
                <div class="span1" align="right">
                    <label for="num" class="label-center">数量:</label>
                </div>
                <div class="span2">
                    <input style="width: 140px" id="num" name="num" data-ng-model="order.num" type="text" class="form-control">
                </div>
                <div class="span1" align="right">
                    <label for="payment" class="label-center">总价:</label>
                </div>
                <div class="span2">
                    <input style="width: 140px" id="payment" name="payment" data-ng-model="order.payment" type="text" class="form-control">
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-default" data-ng-click="addOrder()">新增订单</button>
        <button type="button" class="btn btn-default" data-ng-click="removeOrder()">删除订单</button>
        -->
    </form>

    <div class="panel-body" align="center">
        <p>
            <button type="submit" class="btn btn-primary" data-ng-click="save()">保存</button>
            <button type="button" class="btn btn-default" data-ng-click="close()">关闭</button>
        </p>
    </div>
</div>

