<html data-ng-app="sandboxApp">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>模拟交易</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css"/>

    <script type="text/javascript" src="components/angular/angular.js"></script>
    <script type="text/javascript" src="components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap-tpls-0.7.0.min.js"></script>

    <script type="text/javascript" src="components/moment/moment.js"></script>
    <script type="text/javascript" src="components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
    <script src="main.js"></script>
    <script src="testPlanListController.js"></script>
    <script src="editTestPlanController.js"></script>
    <script src="data.js"></script>
    <style>
        input[type="text"]{
            height: 30px;
        }
        .table td {
            vertical-align: middle;
        }

    </style>
</head>
<body style="margin: 10px;" data-ng-controller="testPlanListController">
    <div class="container-fluid">
        <div>
            <legend>
                模拟交易
            </legend>

            <div class="row-fluid form-horizontal ">
                <div class="span2" align="right">
                    <label for="testPlans" class="control-label">测试计划</label>
                </div>
                <div class="span4">
                    <select id ="testPlans" class="form-control" data-ng-model="queryTestAction.planName"
                        data-ng-options="m.name for m in plans">
                    </select>
                </div>

            </div>
            <br/>

            <div class="panel-body">
                <p>
                    <button type="button" class="btn btn-primary" data-ng-click="query()">查询</button>
                    <button type="button" class="btn btn-inverse" data-ng-click="edit()">修改</button>
                    <button type="button" class="btn btn-success" data-ng-click="add()">新增</button>
                    <button type="button" class="btn btn-danger" data-ng-click="delete()">删除</button>
                </p>
            </div>

            <div class="panel panel-default" style="overflow: auto">
                <table class="table table-bordered table-hover display-inline sortable" id="testActionList">
                    <thead>
                    <tr>
                        <th></th>
                        <th>测试计划</th>
                        <th>开启时间</th>
                        <th>状态</th>
                        <th>交易列表</th>
                        <th>动作列表</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="action in testActions">
                        <td>
                            <input type="radio" name="actionIds" data-ng-model="$parent.selectedTestAction"
                                value="{{action.id}}"/>
                        </td>
                        <td>{{action.name}}</td>
                        <td>{{action.startTime | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{action.status}}</td>
                        <td>
                            <div data-ng-repeat="trade in action.trades">
                                订单id: {{trade.tid}}; 卖家昵称: {{trade.sellerNick}}; 买家昵称: {{trade.buyerNick}}
                                <div data-ng-repeat="order in trade.orders">
                                    商品id: {{order.numIId}}; 数量: {{order.num}}
                                </div>
                                -----------------------------------------------
                            </div>
                        </td>
                        <td>
                            <div data-ng-repeat="action in action.actions">
                                订单id: {{action.tid}}; 动作: {{action.action}}; 延迟: {{action.delay}}{{action.delayUnit}}
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>


